@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500;600;700&display=swap");

@font-face {
	font-family: "FZNDGrana";
	src: url("./FZND.ttf") format("truetype");
}

.fznd {
	font-family: "FZNDGrana", Arial, sans-serif;
}

.IBMPlex {
	font-family: "IBM Plex Mono", monospace;
}
